--extra-index-url https://download.pytorch.org/whl/cpu

streamlit
pillow
google-cloud-vision
google-cloud-storage
google-auth
python-dotenv
requests
numpy
pandas
matplotlib
tqdm
opencv-python-headless==4.11.0.86
torch
torchvision
scikit-learn
transformers
sentencepiece
pytesseract
groq
streamlit-option-menu
PyMuPDF
PyPDF2
pdf2image
pix2tex
pix2text==0.3