--extra-index-url https://download.pytorch.org/whl/cpu

opencv-contrib-python-headless==4.8.1.78
pix2text==0.3
streamlit
pillow
poppler-utils
google-cloud-vision
google-cloud-storage
google-auth
python-dotenv
requests
numpy
pandas
matplotlib
tqdm
torch==2.1.0+cpu
torchvision==0.15.0+cpu
scikit-learn
transformers
sentencepiece
pytesseract
groq
streamlit-option-menu
PyMuPDF
PyPDF2
pdf2image